* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.content {
    position: relative;
}

#startButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 15%;
    border: 7px solid white;
    border-style: outset;
    background-color: black;
    color: white;
    font-weight: 550;
}

.testing {
    color: white;
}

.alphaGridContainer {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: repeat(10, 10%);
}

.numGridContainer {
    display: grid;
    grid-row-start: 2;
    grid-template-rows: repeat(10, 10%);
}

.gridContainer {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 5% 95%;
    /* width: 50%; */
    /* height: 70%; */
    min-width: 250px;
    min-height: 250px;
    padding: 20px;
}

.gridPlayerArea {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}

.playArea {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 95vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: space-between;
}

.gridLocation, .gridLabelAlpha, .gridLabelNum {
    display: flex;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    min-height: 1em;
}

.flex {
    display: flex;
}

.gridLocation {
    position: relative;
}

.gridLabelAlpha, .gridLabelNum {
    font-size: 0.75em;
}

#startButton:hover, .coordHoverPlace:hover {
    background-color: rgb(0, 255, 0);
    color: black;
}

.coordHoverAttack:hover {
    background-color: rgb(255, 0, 0);
    color: black;
}

button:hover, .btnSelected {
    background-color: rgb(0, 0, 255);
    color: white;
}

.disableClick {
    pointer-events: none;
}

.shipLocation {
    border: 2px solid blue;
    background-color: rgb(77, 77, 77);
}

.narrativeBoard {
    margin: 0 auto;
    border: 2px solid white;
    text-align: center;
    width: 50%;
}

.hidden {
    display: none;
}

.direction0Button {
    position: absolute;
    margin-top: -135%;
}
.direction1Button {
    position: absolute;
    margin-right: -135%;
}
.direction2Button {
    position: absolute;
    margin-bottom: -135%;
}
.direction3Button {
    position: absolute;
    margin-left: -135%;
}

.buttonDirection, .btnCancelPlaceShip {
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: 550;
    z-index: 2;
    width: 24px;
    height: 24px;
}

.btnCancelPlaceShip:hover {
    background-color: red;
    color: black;
}

.chosenLocation {
    background-color: blue;
}

.btnFocused {
    background-color: blue;
    color: white;
}